[Desktop Entry]
Type=Application
Name=LumaRef
Comment=Reference image board
Exec=lumaref %f
Icon=lumaref
MimeType=application/x-lumaref;
Categories=Graphics;
